name: Build & Release Image

on:
  push:
    tags:
      - 'v*'

jobs:
  build_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - uses: actions/setup-go@v6
        with:
          go-version: '1.24.5'

      - name: Run tests
        run: |
          make test

      - name: Build and release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          make promu
          promu crossbuild
          promu crossbuild tarballs
          promu checksum .tarballs
          promu release .tarballs

      - name: Build and push to GHCR.io
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          name: ${{ github.repository }}
          registry: ghcr.io
          username: galexrt
          password: ${{ secrets.GITHUB_TOKEN }}
          tag_names: true

      - name: Build and push to Quay.io
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          name: ${{ github.repository }}
          registry: quay.io
          username: ${{ secrets.REGISTRY_QUAYIO_USERNAME }}
          password: ${{ secrets.REGISTRY_QUAYIO_PASSWORD }}
          tag_names: true
